<%= @result.each do |line| %>
<tr>
  <td><%=line[:category]%></td>
  <td><%=line[:title]%></td>
  <td><%=line[:price]%></td>
  <td><%=line[:url]%></td>
  <td><%=line[:img]%></td>
  <td class="input_text"><input type="text" /></td>
  <td class="img_print"><img src="<%=line[:img]%>"></td>
</tr>
<% end %>