<%= @result.each do |line| %>
<tr>
  <td><%=line[:title]%></td>
  <td><%=line[:price]%></td>
  <td><%=line[:url]%></td>
  <td><%=line[:img]%></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="img_print"><img src="<%=line[:img]%>"></td>
</tr>
<% end %>