

<div class=top-bar>
  <%= render partial: "front/frame/top_bar" %>
</div>
<div class="contents-frame">
  <%= render "front/frame/contents-frame" %>
</div>
<div class="footer">
  <%= render "front/frame/footer"%>
</div>
<div class="modal fade shop-product-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
<div class="modal fade filter-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "front/modal/product_filter"%>
</div>
<div class="modal login-modal">
  <%= render "front/modal/login"%>
</div>


