<script>
  end_param=false;
  switcher=false;
</script>

<% @render_hash.each do |k,v| %>
<div id="<%=k.title%>" class="promotion-block" style="background:<%=k.banner_background%> repeat top;background-size:50%;">
  <div class="promotion-header" style="background:url('<%=k.banner_url%>') no-repeat top; background-size:100% 101%;">
  </div>
  <div class="promotion-sample">
    <% v.each do |pro_record| %>
        <% record = pro_record %>
        <div class="promotion-item">
          <a href="<%=record.url%>" onclick="ga('send','event','promotion-block','outlink','<%=record.id%>');">
            <div class="modal-product-item promotion-item-box">
              <img class="modal-product-img promotion-item-image" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
              <% if pro_record.productswithpromotion.first.discount!=0 %>
              <div class="promo-item-tag">
                <%=pro_record.productswithpromotion.first.discount%>%<br>OFF
              </div>
              <% end %>
          </a>
          <% if !@userlikeitems.include?(record.id)%>
              <div class="likebutton-item" onclick="userlike(this,'item','<%= record.id%>');ga('send','event','promotion-block','like','<%=record.id%>');"></div>
          <% else %>
              <div class="likebutton-item likebutton-item-clicked" onclick="userlike(this,'item','<%= record.id%>');ga('send','event','promotion-block','like','<%=record.id%>');"></div>
          <% end %>
          <a href="<%=record.url%>" onclick="ga('send','event','promotion-block','outlink','<%=record.id%>');">
            <div class="modal-product-detail promotion-item-detail">
              <span><%=record.title%></span><br>
              <span class="product-price"><%=record.price.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse!%>원</span>
              <span></span>
            </div>
          </div>
          </a>
        </div>
  <% end %>
  </div>
  <div class="promotion-button">
    <div class="promotion-more-button" onclick="promo_popup(<%=k.id%>);ga('send','event','promotion-block','popup','<%= k.id%>')">
      <span>더 보기 <i class="glyphicon glyphicon-menu-right"></i></span>
    </div>
  </div>
</div>
<% end %>
<div style="height:50px"></div>