
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="item-focus-header">
      <div class="item-focus-title">
        <div class="modal-header-left">
          <div class="backbutton" data-dismiss="modal">

            <span class="glyphicon glyphicon-menu-left"></span>
          </div>
        </div>
        <div class="modal-header-center">
          <!--<div class="modal-shoplogo"></div>-->
          <div class="item-foucs-title-text">
            <span><div><%= @input_record.title[0..42]%></div></span>
          </div>
          <!--<div class="modal-shoptags"></div>-->
        </div>
        <% if !@userlikeitems.include?(@input_record.id)%>
            <div class="likebutton-item-modal" onclick="userlike(this,'item','<%= @input_record.id%>')"></div>
        <% else %>
            <div class="likebutton-item-modal likebutton-item-clicked" onclick="userlike(this,'item','<%= @input_record.id%>')"></div>
        <% end %>
        <!--<div class="modal-header-section">-->

        <!--</div>-->
      </div>
      <div class="item-header-body">
        <div class="item-image" style="background-image:url('<%=@input_record.img_url%>');"></div>
        <div class="item-detail">
          <div class="title">
            <span><%=@input_record.merchant.title%></span>
          </div>
          <div class="tags">
            <span>#<%=@input_record.hashtag.split(',').join(" #")%></span>
          </div>
          <div class="outlink">
            <div>
              <a target="_blank"href="<%=@input_record.url%>">구매하러 가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body" style="height:100%;">
      <div class="item-focus-dummy"></div>
      <div class="body-divide">

        <% @product1.each do |record| %>
            <a href="<%=record.url%>" onclick="ga('send','event','product','<%=record.id%>');">
              <div class="modal-product-item">
                <img class="modal-product-img" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
            </a>
            <% if !@userlikeitems.include?(record.id)%>
                <div class="likebutton-item" onclick="userlike(this,'item','<%= record.id%>')"></div>
            <% else %>
                <div class="likebutton-item likebutton-item-clicked" onclick="userlike(this,'item','<%= record.id%>')"></div>
            <% end %>
            <a href="<%=record.url%>" onclick="ga('send','event','product','<%=record.id%>');">
              <div class="modal-product-detail">
                <span><%=record.title%></span><br>
                <span><%=record.price.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse!%>원</span>
                <span></span>
              </div>
            </div>
            </a>
        <% end %>
        </div>
    <div class="body-divide">
      <% @product2.each do |record| %>
          <a href="<%=record.url%>" onclick="ga('send','event','product','<%=record.id%>');">
            <div class="modal-product-item">
              <img class="modal-product-img" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
          </a>
          <% if !@userlikeitems.include?(record.id)%>
              <div class="likebutton-item" onclick="userlike(this,'item','<%= record.id%>')"></div>
          <% else %>
              <div class="likebutton-item likebutton-item-clicked" onclick="userlike(this,'item','<%= record.id%>')"></div>
          <% end %>
          <a href="<%=record.url%>" onclick="ga('send','event','product','<%=record.id%>');">
            <div class="modal-product-detail">
              <span><%=record.title%></span><br>
              <span><%=record.price.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse!%>원</span>
            </div>
          </div>
          </a>
      <% end %>
      </div>
</div>
</div>
</div>



