
<div class="modal-dialog filter-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header-left">
        <div class="backbutton" data-dismiss="modal">

          <span class="glyphicon glyphicon-menu-left"></span>
        </div>
      </div>
      <div class="modal-header-center">
        <div class="modal-shoptitle">
          <span>상품검색필터</span>
        </div>
      </div>
      <div class="modal-header-right">
        <span onclick="reset_filter()">초기화</span>
      </div>

    </div>
    <div class="modal-body">
      <div class="modal-filter-body-horizontal">
        <div class="modal-filter-body-header">
          <span>색상</span>
        </div>
        <div class="modal-filter-list" id="색상">
          <% @color_hash.each do |color,code| %>
              <div  id='<%=color%>' class="color-button" style="background:<%=code%>; background-size:contain;" onclick="color_toggle(this);ga('send','event','filter','browse','<%=color%>');">
                <span><%=color%></span>
              </div>
          <% end %>
        </div>
      </div>
      <% @render_hash.each do |k,v| %>
      <div class="modal-filter-body">
        <div class="modal-filter-body-header">
          <span><%=k%></span>
        </div>
        <div class="modal-filter-list" id="<%=k%>">
        <% v.each do |tag| %>
          <div  id='<%=tag%>' class="modal-filter-button" onclick="filter_toggle(this,'<%=k%>');ga('send','event','filter','browse','<%=tag%>');">
            <span><%=tag%></span>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>

      <div style="height:10vh;"></div>
    </div>
    <a onclick="filter_apply()">
      <div class="modal-footer">
        <span>필터 적용하기</span>
      </div>
    </a>
  </div>
</div>

