
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="item-focus-header">
      <div class="item-focus-title">
        <div class="modal-header-left">
          <div class="backbutton" onclick="window.history.back();">

            <span class="glyphicon glyphicon-menu-left"></span>
          </div>
        </div>
        <div class="modal-header-center" >
          <!--<div class="modal-shoplogo"></div>-->
          <div class="item-foucs-title-text">
            <span><div><%= @input_record.title[0..42]%></div></span>
          </div>
          <!--<div class="modal-shoptags"></div>-->
        </div>
        <% if !@userlikeitems.include?(@input_record.id)%>
            <div  name=likeitem<%=@input_record.id%> class="likebutton-item-modal" onclick="userlike(this,'item','<%= @input_record.id%>');hide_rcmd();ga('send','event','recommend-body','like','<%=@input_record.id%>');"></div>
        <% else %>
            <div  name=likeitem<%=@input_record.id%> class="likebutton-item-modal likebutton-item-clicked" onclick="userlike(this,'item','<%= @input_record.id%>');hide_rcmd();ga('send','event','recommend-body','like','<%=@input_record.id%>');"></div>
        <% end %>
        <!--<div class="modal-header-section">-->

        <!--</div>-->
      </div>
      <div class="item-header-body">
        <div class="item-image" ></div>
        <div class="item-detail">
          <div class="title">
            <span><%=@input_record.merchant.title%></span>
          </div>
          <div class="price">
            <span><%=@input_record.price.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse!%>원</span>
          </div>
          <div class="tags">
            <span>#<%=@input_record.hashtag.split(',').join(" #")%></span>
          </div>
          <div class="outlink">
            <div>
              <a onclick="ga('send','event','recommend-head','outlink','<%=@input_record.id%>');" target="_blank"href="<%=@input_record.url%>">구매하러 가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body overflow-y-hidden" style="height:100%;" id="item-rcmd-body">
      <div class="item-focus-dummy">
      </div>
      <div class="item-focus-beforelogin" style=""><span>즐겨찾기에 추가하시면<br>추천 상품을 확인하실 수 있습니다</span></div>
      <div class="body-divide">

        <% @product1.each do |record| %>
            <a href="<%=record.url%>" onclick="ga('send','event','recommend-body','outlink','<%=record.id%>');">
              <div class="modal-product-item">
                <img class="modal-product-img" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
            </a>
            <% if !@userlikeitems.include?(record.id)%>
                <div name="likeitem<%=record.id%>" class="likebutton-item" onclick="userlike(this,'item','<%= record.id%>');ga('send','event','recommend-body','like','<%=record.id%>');"></div>
            <% else %>
                <div name="likeitem<%=record.id%>" class="likebutton-item likebutton-item-clicked" onclick="userlike(this,'item','<%= record.id%>');ga('send','event','recommend-body','like','<%=record.id%>');"></div>
            <% end %>
            <a href="<%=record.url%>" onclick="ga('send','event','recommend-body','outlink','<%=record.id%>');">
              <div class="modal-product-detail">
                <span><%=record.title%></span><br>
                <span class="product-price"><%=record.price.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse!%>원</span>
                <span></span>
              </div>
            </div>
            </a>
        <% end %>
        </div>
    <div class="body-divide">
      <% @product2.each do |record| %>
          <a href="<%=record.url%>" onclick="ga('send','event','recommend-body','outlink','<%=record.id%>');">
            <div class="modal-product-item">
              <img class="modal-product-img" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
          </a>
          <% if !@userlikeitems.include?(record.id)%>
              <div name="likeitem<%=record.id%>" class="likebutton-item" onclick="userlike(this,'item','<%= @input_record.id%>');ga('send','event','recommend-body','like','<%=record.id%>');"></div>
          <% else %>
              <div name="likeitem<%=record.id%>" class="likebutton-item likebutton-item-clicked" onclick="userlike(this,'item','<%= record.id%>');ga('send','event','recommend-body','like','<%=record.id%>');"></div>
          <% end %>
          <a href="<%=record.url%>" onclick="ga('send','event','recommend-body','outlink','<%=record.id%>');">
            <div class="modal-product-detail">
              <span><%=record.title%></span><br>
              <span class="product-price"><%=record.price.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse!%>원</span>
            </div>
          </div>
          </a>
      <% end %>
      </div>
</div>
</div>
</div>
<script>
    $(".shop-product-popup").ready(function(){
        var scrollTop = 0;
        $("#item-rcmd-body").scroll(function(){
            scrollTop = $("#item-rcmd-body").scrollTop();
            if (scrollTop >= 100) {
                $('.item-focus-header').addClass('item-focus-header-fold');
                $(".item-header-body").hide();
            } else if (scrollTop < 100) {
                $('.item-focus-header').removeClass('item-focus-header-fold');
                $(".item-header-body").show();
            }

        });

    });

    function hide_rcmd(){
//        $("#item-rcmd-body").attr("style","height:100%;");
        $("#item-rcmd-body").toggleClass('overflow-y-hidden');
        $(".item-focus-beforelogin").toggle();
        $("#item-rcmd-body").scrollTop(0);
    }
<% if !@userlikeitems.include?(@input_record.id)%>
    <% else %>
    hide_rcmd()
    <% end %>
var imageurl = $("#item<%=@input_record.id%>>img").attr('src');
$(".item-image").attr("style","background-image:url('"+imageurl+"')");
</script>