<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header-left">
        <div class="backbutton" data-dismiss="modal">

          <span class="glyphicon glyphicon-menu-left"></span>
        </div>
      </div>
      <div class="modal-header-center">
        <!--<div class="modal-shoplogo"></div>-->
        <div class="modal-shoptitle">
          <span><%=@merchant.title%></span>
        </div>
        <!--<div class="modal-shoptags"><%= %></div>-->
      </div>
      <!--<div class="modal-header-section">-->

    <!--</div>-->
    </div>
    <div class="modal-body">
      <div class="body-divide">
        <% @product1.each do |record| %>
        <a href="<%=record.url%>">
          <div class="modal-product-item">
            <img class="modal-product-img" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
            <div class="modal-product-detail">
              <span><%=record.title%></span><br>
              <span><%=record.price%>원</span>
              <span></span>
            </div>
          </div>
        </a>
        <% end %>
      </div>
      <div class="body-divide">
        <% @product2.each do |record| %>
        <a href="<%=record.url%>">
          <div class="modal-product-item">
            <img class="modal-product-img" src="<%=record.img_url%>" onerror="imgError(this,'product',<%= record.id%>)"/>
            <div class="modal-product-detail">
              <span><%=record.title%></span><br>
              <span><%=record.price%>원</span>
            </div>
          </div>
        </a>
        <% end %>
        <div style="height:14%;"></div>
      </div>
    </div>
    <a href="<%=@merchant.url%>" target="_blank">
      <div class="modal-footer">
        <span>쇼핑몰로 이동</span>
      </div>
    </a>
  </div>
</div>
