<!DOCTYPE html>
<html>
  <head>
    <% if @isApp==1%>
      <script>
        var c_uuid = '<%= @c_uuid%>';
      </script>
    <% end %>
    <title>Mariazu-마리아주</title>
    <meta name="description" content="당신의 식탁을 완성할 테이블웨어를 찾아보세요">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mariazu-마리아주">
    <meta property="og:description" content="당신의 식탁을 완성할 테이블웨어를 찾아보세요">
    <meta property="og:image" content="http://mariazu.co/assets/intro/logos/mariazu.png">
    <meta property="og:url" content="http://mariazu.co">
    <meta name="naver-site-verification" content="135ad5e41ad3c7ede06d7357b1930fb67fc4ca71"/>
    <!-- Google Analytics Content Experiment code -->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
        document.addEventListener("touchstart", function() {},false);
        var on_active = "";
        var keyword = "";
        var input_cache = "";
        var landing = true;


      function imgError(image,type,id) {
          image.onerror = "";
          $.ajax({
            url:"/img_reproduce",
            data:{type:type, id:id},
            method:"POST",
            success:function(data){
                image.src=data.url;
            }
          });
          return true;
      };
      <% if !current_user.nil? %>
        var customUserId = '<%= current_user.identities.first.provider.first+current_user.identities.first.uid%>';
      <% else %>
        var customUserId = undefined;
      <% end %>
      //구글어낼러틱스 호출
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96186716-1', {'userId': customUserId});
      ga('require', 'displayfeatures');
      ga('set', 'dimension1', customUserId);                // Set a `customUserId` dimension at page level
      ga('send', 'pageview');
    //address-bar hide

    //샵 선택시 모달 팝업 및 모달 히스토리 설정
    function shop_product_popup(id){
        var id = id;
        window.history.pushState("","","");
        $(".shop-product-popup").load("/shop_product/"+id,function(id){
            $(".shop-product-popup").modal('show');
        });
    }

    function product_rcmd_popup(id, shop, link){
        var id = id;
        var link = link;
        var shop = shop;
       <% if @isApp==1 %>
          window.location = "gomariazuapp://product/*/"+id+"/*/"+shop+"/*/"+link ;
        <% else %>
         window.history.pushState("","","");
        $(".shop-product-popup").load("/product_rcmd/"+id,function(id){
            $(".shop-product-popup").modal('show');
        });

        <% end %>

    }

    function item_filter_popup(){
           $(".filter-popup").modal('show');
    }

    function item_search_toggle(data){
        if(data){
        $(".notibar").load("/search_toggle/?toggle=1&type=item");
        }
        else{
        $(".contents-frame").fadeOut(300).load("/section/product",function(){}).fadeIn(300);
        }
    }
    function shop_search_toggle(data){
        if(data){
            $(".tag-browser").load("/search_toggle/?toggle=1&type=shop");
        }
        else{
            $(".contents-frame").fadeOut(300).load("/section/shop",function(){}).fadeIn(300);
        }
    }

    function addtagplz(){
//        $(".color-button-clicked").each(function(i,e){color.push($(e).attr('id'))});
        $(".contents-end>span").text('상품 리스트 추가 요청이 완료되었습니다, 감사합니다').addClass('complete');
        var category = $("#카테고리>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var color = $("#색상>.color-button-clicked").map(function(){return this.id}).get().join(',');
        var style = $("#스타일>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var from = "item-scroll-body";
        status = [color,category,style];
        type = "tagplz";

        $.ajax({
          url:"/feedback",
          method:"POST",
          data:{location:from,status:status,type:type}
        });
    }

    function login_popup(){
        $(".login-modal").modal('show');
    }
    function promo_popup(id){
        var id = id;
        window.history.pushState("","","");
        $(".shop-product-popup").load("/promo_popup/"+id,function(id){
            $(".shop-product-popup").modal('show');
        });
    }

    function userlike(click,type,id){
        $("div[name=like"+type+id+"]").toggleClass('likebutton-'+type+'-clicked');
        var type=type;
        var id = id;
        $.ajax({
            url:'/userlike/'+type+'/'+id,
            data:{type:type, id:id},
            method:'POST',
            success:function(){
            },
            error:function(){
                $("div[name=like"+type+id+"]").toggleClass('likebutton-'+type+'-clicked');
                hide_rcmd();
                $("#nudge-message").html("즐겨찾기에 추가하시고<br>멋진 마리아주를 완성할<br>추천 리스트를 확인해 보세요");
                login_popup();
            }
        })

    }
    function hide_rcmd(){
//        $("#item-rcmd-body").attr("style","height:100%;");
        $("#item-rcmd-body").toggleClass('overflow-y-hidden');
        $(".item-focus-beforelogin").toggle();
        $("#item-rcmd-body").scrollTop(0);
    }
    function tag_toggle(a){
        $(".tag-button").not(a).removeClass("tag-button-clicked");
        $(a).toggleClass("tag-button-clicked");


    }

!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1078792452220099'); // Insert your pixel ID here.
fbq('track', 'PageView');



    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1078792452220099&ev=PageView&noscript=1"
    /></noscript>
  </head>

  <body>
    <%= yield %>
  </body>
<script>
    $(".modal-product-item>a").on("click",function(){
        document.cookie = "intro_switch=false";
        window.history.pushState({},"lastscroll","");
    });

    $('.modal').on('show.bs.modal', function(e) {
        window.location.hash = "modal";
    });
    $('.modal').on('hide.bs.modal',function(e){
        history.pushState('', document.title, window.location.pathname); // nice and clean

        window.location.hash = "";
    });
    $(window).on('hashchange', function (event) {
        if(window.location.hash != "#modal") {

            $('.modal').modal('hide');
        }
    });

    <% if @test == "test" %>
      section_transfer('home');
      $(".footer-alarm").attr('style',"left:5px;");
      $(".footer-alarm>div:first-child").text('추천확인하기');
      $(".productlist").click(function(){
          $(".footer-alarm").hide();
      });
    <% else %>
      $(".homelist").click(function(){
          $(".footer-alarm").hide();
      });
    <% end %>


</script>
</html>
