

	<% i=1
    @merchant.each do |record|

  %>

  <a onclick="shop_product_popup(<%=record.id%>);">
  <div class=content-block>
	
		<div class=content-ranking>
			<span class=ranking-number><%=i%></span>
		</div>
		<div class=content-thumbnail>
      <div class="thumbnail-img" style="background-image:url('<%= record.thumbnail%>');">
        <!--<img src="" class="content-thumbnail-img">-->
      </div>
		</div>
		<div class=content-title>
      <span class="title-text"><%= record.title%></span>
		</div>
		<div class=content-explain>
      <span class="explain-text"><%= record.explain%></span>
		</div>
		<div class=content-hashtag>
      <%
        hashtag_array = record.category.gsub(' ','').split(',')
        hashtag_text = ""

        hashtag_array.each do |one|

         hashtag_text = hashtag_text + '#' + one +' '

        end
        i= i+1;
      %>
      <span class="hashtag-cell"><%=hashtag_text%></span>

		</div>


	</div>
  </a>
  <hr class="content-border">
	


	<% end %>

  <script>
    function shop_product_popup(id){
        var id = id;
        $(".shop-product-popup").load("/shop_product/"+id,function(id){
            $(".modal").modal('show');
        });

    }
//    $(".modal").on("shown.bs.modal", function()  { // any time a modal is shown
//        var urlReplace = "#" + $(this).attr('id'); // make the hash the id of the modal shown
//    });
//
//    // If a pushstate has previously happened and the back button is clicked, hide any modals.
//    $(window).on('popstate', function() {
//        $(".modal").modal('hide');
//    });
    $('div.modal').on('show.bs.modal', function() {
        var modal = this;
        var hash = modal.id;
        window.location.hash = hash;
        window.onhashchange = function() {
            if (!location.hash){
                $(modal).modal('hide');
            }
        }
    });

    $('div.modal').on('hidden.bs.modal', function() {
        var hash = this.id;
        history.replaceState('', document.title, window.location.pathname);
    });

    // when close button clicked simulate back
    $('div.modal button.close').on('click', function(){
        window.history.back();
    })

    // when esc pressed when modal open simulate back
    $('div.modal').keyup(function(e) {
        if (e.keyCode == 27){
            window.history.back();
        }
    });

  </script>


